* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  font-size: $font-size-md;
  font-weight: 400;
  line-height: $line-height-md;
  background-color: #fff;
}

img {
  width: 100%;
  height: auto;
}
