@for $i from 1 to 21 {
  .p-#{$i} {
    padding: $padding-base * $i;
  }
  .px-#{$i} {
    padding-left: $padding-base * $i;
    padding-right: $padding-base * $i;
  }
  .py-#{$i} {
    padding-top: $padding-base * $i;
    padding-bottom: $padding-base * $i;
  }
}
