// --------------------
// Colors
// --------------------

$red: #d93a49;
$green: #158843;
$blue: #0079cf;
$yellow: #ffbb00;
$orange: #ff6d00;
$purple: #8d00df;
$pink: #cc2bbe;
$gray: #b5b5b5;

$color-dark: #000;
$color-light: #fff;

$red-100: var(--red-100);
$red-200: var(--red-200);
$red-300: var(--red-300);
$red-400: var(--red-400);
$red-500: var(--red-500);
$red-600: var(--red-600);
$red-700: var(--red-700);
$red-800: var(--red-800);
$red-900: var(--red-900);

$green-100: var(--green-100);
$green-200: var(--green-200);
$green-300: var(--green-300);
$green-400: var(--green-400);
$green-500: var(--green-500);
$green-600: var(--green-600);
$green-700: var(--green-700);
$green-800: var(--green-800);
$green-900: var(--green-900);

$blue-100: var(--blue-100);
$blue-200: var(--blue-200);
$blue-300: var(--blue-300);
$blue-400: var(--blue-400);
$blue-500: var(--blue-500);
$blue-600: var(--blue-600);
$blue-700: var(--blue-700);
$blue-800: var(--blue-800);
$blue-900: var(--blue-900);

$color-nav: var(--gray-900);
$color-nav-link: var(--gray-700);
$color-nav-link-hover: var(--gray-900);
$background-navlink-hover: var(--gray-100);

// --------------------
// Typography
// --------------------

$ff-montserrat: "Montserrat", sans-serif;
$ff-merriweather: "Merriweather", serif;

$font-primary: $ff-montserrat;
$font-secondary: $ff-merriweather;

$font-base-size: 1rem;

$font-size-sm: $font-base-size * 0.875;
$font-size-md: $font-base-size * 1;
$font-size-lg: $font-base-size * 1.25;

$font-size-h1: $font-base-size * 2.5;
$font-size-h2: $font-base-size * 2;
$font-size-h3: $font-base-size * 1.75;
$font-size-h4: $font-base-size * 1.5;
$font-size-h5: $font-base-size * 1.25;
$font-size-h6: $font-base-size;

$line-height-sm: 1.25;
$line-height-md: 1.5;
$line-height-lg: 2;

// --------------------
// Spacing
// --------------------
$spacing-base: 0.25rem;

$headings-margin-botton: $spacing-base * 6;
$para-margin-bottom: $spacing-base * 4;

$padding-nav: ($spacing-base * 4) ($spacing-base * 6);
$padding-nav-link: ($spacing-base * 2) ($spacing-base * 4);
$paddin-btn: ($spacing-base) ($spacing-base * 4);

$btn-min-width: $spacing-base * 20;

// --------------------
// Border
// --------------------

$boder-base: 0.25rem;

$nav-border-radius: $boder-base * 2;

// --------------------
// Transition
// --------------------

$transition-nav-link: all 0.15s ease-in-out;
$transtiton-btn: all 0.15s ease-in-out;
